.songs-section {
    position: fixed;
    left: 30%;
    top: 10%;
    width: 70%;
    height: 90%;
    overflow-y: auto;
    padding: 10px;

    .songs-list{
        padding: 20px;
        background-color: #104477;
    }
}
