.songs-section {
    position: fixed;
    left: 30%;
    top: 10%;
    width: 70%;
    height: 90%;
    overflow-y: auto;
    margin: 10px;    
    .row-title-section{
        margin: 10px;
        .song-title-section{
            width: 75%;
        }
        .add-song-section{
            width: 20%;
        }
    }   

    .songs-list{
        margin: 20px;
        background-color: #104477;
    }
}
