.nav-player {
    position: fixed;
    background-color: #9f9fdb;
    width: 100%;
    height: 10%;
    .logo{
        width: 25%;
        background-color: red;
        h1{
            text-align: center;            
        }
    } 
}