<div class="artists-panel">
    <div class="add-artist-section">
        <button (click)="addArtist()">
            ADD +
        </button>

    </div>

    <div class="artists-list">
        <div class="artists-item" *ngFor="let artist of artists" (click)="selectArtist(artist)">
            <div class="img-content">
                <img src="{{serverPath}}{{artist.img_path}}" alt="">
            </div>
            <div class="artist-details">
                <p><b>{{artist.name}}</b></p>
                <p>{{artist.genres}}</p>
                <p>{{artist.members}}</p>
                <p>{{artist.website}}</p>
            </div>
        </div>
    </div>
</div>