.artists-panel {
    background-color: #8890a1;
    position: fixed;
    top: 10%;
    width: 30%;
    height: 90%;
    overflow-y: auto;
    .add-artist-section {
        /*  */
        color: green($color: #000000);
    }
    .artists-list {
        .artists-item {
            display: block;
            .img-content {
                float: left;
                img {
                    width: 122px;
                }
            }
            .artist-details {
                width: 45%;
                float: left;
            }
        }
    }
}
